.Icon {
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  max-width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #eece38;
  color: #2c2c2c;
  font-size: 40px;
  margin-right: 25px;
}
.sous-text {
  color: #767676 !important;
  width: 10% !important;
  margin-top: 2%;
  margin-bottom: 3%;
}
.Moderncontainer {
  padding: 0% 6% 0%;
}
