.section-two {
  padding: 10% 0% 10%;
}
.abouts {
  margin-top: -20%;
  margin-left: 10%;
  border: 5px solid white;
}
.richesse {
  padding: 4% 5% 6%;
}
.knbox-carde {
  border-color: px solide black !important;
}
.knbox {
  padding: 4% 10% 0%;
}
